<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eye_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,944},{172,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,211}}</string>
                <key>sourceSize</key>
                <string>{172,211}</string>
            </dict>
            <key>eye_left_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,731},{172,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,212}}</string>
                <key>sourceSize</key>
                <string>{172,212}</string>
            </dict>
            <key>eye_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,509},{177,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,209}}</string>
                <key>sourceSize</key>
                <string>{177,209}</string>
            </dict>
            <key>eye_right_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,509},{177,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,210}}</string>
                <key>sourceSize</key>
                <string>{177,210}</string>
            </dict>
            <key>eyebrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1147,731},{161,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,124}}</string>
                <key>sourceSize</key>
                <string>{161,124}</string>
            </dict>
            <key>eyebrow_left_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,731},{161,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,124}}</string>
                <key>sourceSize</key>
                <string>{161,124}</string>
            </dict>
            <key>eyebrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,845},{152,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,113}}</string>
                <key>sourceSize</key>
                <string>{152,113}</string>
            </dict>
            <key>eyebrow_right_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,731},{152,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,113}}</string>
                <key>sourceSize</key>
                <string>{152,113}</string>
            </dict>
            <key>face.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1165},{927,836}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{927,836}}</string>
                <key>sourceSize</key>
                <string>{927,836}</string>
            </dict>
            <key>hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,366},{684,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{684,364}}</string>
                <key>sourceSize</key>
                <string>{684,364}</string>
            </dict>
            <key>hair_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1},{685,364}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{685,364}}</string>
                <key>sourceSize</key>
                <string>{685,364}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,287},{357,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,127}}</string>
                <key>sourceSize</key>
                <string>{357,127}</string>
            </dict>
            <key>mouth_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,159},{357,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,127}}</string>
                <key>sourceSize</key>
                <string>{357,127}</string>
            </dict>
            <key>nose.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,85},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>nose_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,83}}</string>
                <key>sourceSize</key>
                <string>{101,83}</string>
            </dict>
            <key>paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{810,1163}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{810,1163}}</string>
                <key>sourceSize</key>
                <string>{864,1211}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,719},{167,174}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{167,174}}</string>
                <key>sourceSize</key>
                <string>{207,198}</string>
            </dict>
            <key>retry_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,720},{166,172}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,20},{166,172}}</string>
                <key>sourceSize</key>
                <string>{208,198}</string>
            </dict>
            <key>skoth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,415},{315,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,93}}</string>
                <key>sourceSize</key>
                <string>{315,93}</string>
            </dict>
            <key>skoth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,262},{82,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,77}}</string>
                <key>sourceSize</key>
                <string>{82,77}</string>
            </dict>
            <key>skoth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,169},{95,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,92}}</string>
                <key>sourceSize</key>
                <string>{95,92}</string>
            </dict>
            <key>teeth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,1},{426,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,157}}</string>
                <key>sourceSize</key>
                <string>{426,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BitmapAtlas-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5cbd869c0f7093fd95dc01b97d411e$</string>
            <key>textureFileName</key>
            <string>BitmapAtlas-ipadhd.png</string>
        </dict>
    </dict>
</plist>
