<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kNoSceneUninitialized</key>
	<dict/>
	<key>kMainScene</key>
	<dict>
		<key>S1</key>
		<string>tear.wav</string>
		<key>S2</key>
		<string>floop.wav</string>
		<key>S3</key>
		<string>fan.wav</string>
	</dict>
</dict>
</plist>
